<!-- List of questions -->
<div class="col-md-9 col-sm-8">
	<div class="m-b-1">
		<div class="input-group">
			<input type="text" class="form-control" placeholder="type your question(s) here">
			<span class="input-group-btn">
				<button class="btn btn-outline-success" type="button">Search</button>
			</span>
		</div>
	</div>
</div>

<!-- Sidebar with ranking -->
<div class="col-md-3 col-sm-4">
	<div class="card">
		<h3 class="card-header m-b-0">Ranking</h3>
		<div class="nav">
			<ul class="list-group list-group-flush">
				<li class="list-group-item">
					<span class="tag tag-primary tag-pill pull-xs-right">11</span>
					User A
				</li>
				<li class="list-group-item">
					<span class="tag tag-primary tag-pill pull-xs-right">22</span>
					User B
				</li>
				<li class="list-group-item">
					<span class="tag tag-primary tag-pill pull-xs-right">33</span>
					User C
				</li>
			</ul>
		</div>
	</div>
</div>
