<h1>Home#index</h1>
<p>Nossa Primeiro Página</p>

<div class="col-md-9 col-sm-8">
	<div class="card card-block">
		<h4 class="card-title">Home#index</h4>
		<p class="card-text">Nossa primeira página</p>
		<%=	link_to "New Question", new_question_path %>
		|
		<%=	link_to "All Questions", questions_path %>
	</div>
</div>

<div class="col-md-3 col-sm-4">
	<div class="sidebar">
		<h3>Sidebar</h3>
		<h4>Insert #hashtags here</h4>
	</div>
</div>
