.img-circle {
    background-color: white;
    border: 1px solid #d9d9d9;
    height: 40px;
    width: 40px;
    overflow: hidden;
    float: left;
    img { width: 100%}
}

.center {
  text-align: center;
}

// .btn-center {
//   align: center;
// }
